<!DOCTYPE html>
<html>
<head>
    <title>Lista de Libros</title>
</head>
<body>
    <nav>
        <a href="{% url 'inicio' %}">Inicio</a>
        <a href="{% url 'listar_libros' %}">Libros</a>
        <a href="{% url 'acerca' %}">Acerca de</a>
    </nav>
    {% if user.is_authenticated %}
        <p>Bienvenido, {{ user.username }} | 
        <a href="{% url 'perfil' %}">Ver perfil</a> | 
        <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Cerrar sesión</button>
        </form>
        {% endif %}
    <h1>Lista de Libros</h1>
<ul>
    {% for libro in libros %}
    <li>
        {% if libro.portada %}
            <img src="{{ libro.portada.url }}" alt="Portada de {{ libro.titulo }}" width="150">
        {% else %}
            <p>No hay portada disponible.</p>
        {% endif %}
        <strong>{{ libro.titulo }}</strong> - {{ libro.autor }} - ${{ libro.precio }}
        <p><a href="{% url 'detalle_libro' libro.pk %}">Ver detalles</a></p>
    </li>
    {% endfor %}
</ul>
<a href="{% url 'agregar_libro' %}">Agregar un nuevo libro</a>
</body>
</html>