<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Mi Librería{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav>
        <a href="{% url 'inicio' %}">Inicio</a>
        <a href="{% url 'listar_libros' %}">Libros</a>
        <a href="{% url 'acerca' %}">Acerca de</a>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
    {% if user.is_authenticated %}
        <p>Bienvenido, {{ user.username }} | 
        <a href="{% url 'perfil' %}">Ver perfil</a> | 
        {% if user.imagen %}
        <img src="{{ user.imagen.url }}" alt="Imagen de perfil">
        {% endif %}
        <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Cerrar sesión</button>
        </form>
    {% else %}
        <p><a href="{% url 'login' %}">Iniciar sesión</a> | 
        <a href="{% url 'registro' %}">Registrarse</a></p>
    {% endif %}
</body>
</html>